@media screen and (max-width: 1199px){
	.name h1{
		font-size: 2em;
		padding-left: 10px;
	}
	.footer_social img,
	.social img{
		width: 30px;
		height: 30px;
	}
	.logo img{
	width: 80%;
	}
	.slider_responsive img {
  width: 180px;
  height: 180px;
}
#slide_photo img{
	margin-bottom: 15px;
}
}